{% extends 'base.html.twig' %} {% block title %}Bienvenidos!{%
endblock %}  {% block body %}

<section class="section--datos">
 <h1 class="title">¿Quiénes somos?</h1>
 
 <article class="article--text">
    <img
      class="article--text--img"
      src=" /img/logo.png"
      alt="Demo Image"
    />
    <div class="paragraph_iz">
      <h1 class="title__article">SIPACAAP</h1>
      <p> Se tiene como finalidad dar
        visibilidad a distintos trabajos que pueden ser alternativas a la pesca artesanal, de tal
        manera que se refuerce las labores turísticas (excursiones a islas como Pajarita, Pelona,
        Echandí, Chira, Venado entre otras y también visitas a manglares de la Zona). A su vez
        en el territorio se cuenta con un desplazamiento considerable de extranjeros que se alojan
        en Costa de Pájaros como punto de viajes, lo cual es aprovechable para la comunidad, ya
        que se puede lograr que estas personas inviertan en los servicios que se dan en la
        comunidad.
      </p>
    </div>
    
     </article>

  <article class="article--reverse"> 
   <img
    class="article--reverse--img"
   src="https://mariscossegura.files.wordpress.com/2013/07/la-costa-_41.jpg"
    alt="Demo Image"
    />
    <div class="paragraph_der"> 
      <h1 class="title__article">Costa de Pájaros</h1>
      <p> Costa De Pájaros es un pueblo localizado en las costas del Golfo de Nicoya con
diversas actividades económicas como es la siembra de maíz, yuca, piña, melón o
sandía; generalmente dicha producción no es a nivel masivos ya que son mayormente
orientados a la subsistencia familiar. El pueblo de Costa de Pájaros al ser un lugar costero
una de las principales actividades es la pesca artesanal en el Golfo de Nicoya, esta
misma permitía la subsistencia de la familias. La comunidad alrededor de los últimos 5
años a presentado un gran aumento en los trabajadores que se dedican a la pesca y
debido a que se presentan malas prácticas como la pesca de arrastre, se da una
dramática disminución de los recursos marinos. A pesar de las ayudas brindadas por
incopesca y otras instituciones muchos de los pescadores se ven forzados a no respetar
los tiempos impuestos de las vedas. Cabe recalcar que no solo la pesca artesanal es una
de las actividades que se llegan a desarrollar gracias al mar; otras actividades lucrativas
es el transporte de Costa de Pájaros a la Isla Chira
      </p></div>
      </article>

  <article class="article--text">
    <img
      class="article--text--img"
      src="https://static.wixstatic.com/media/a61643_21006c2846544c36ae272f39c54c973b.jpg/v1/fill/w_644,h_421,al_c,q_80,usm_0.66_1.00_0.01/a61643_21006c2846544c36ae272f39c54c973b.webp"
      alt="Demo Image"
    />
    <div class="paragraph_iz">
      <h1 class="title__article" >Objetivo</h1>
      <p> Con el proyecto se busca fomentar las actividades lucrativas que aprovechen de
        una forma menos nociva los recursos naturales marinos. Se tiene como finalidad dar
        visibilidad a distintos trabajos que pueden ser alternativas a la pesca artesanal, de tal
        manera que se refuerce las labores turísticas (excursiones a islas como Pajarita, Pelona,
        Echandí, Chira, Venado entre otras y también visitas a manglares de la Zona). A su vez
        en el territorio se cuenta con un desplazamiento considerable de extranjeros que se alojan
        en Costa de Pájaros como punto de viajes, lo cual es aprovechable para la comunidad, ya
        que se puede lograr que estas personas inviertan en los servicios que se dan en la
        comunidad.
      </p>
    </div>
     
 
 </article>
 
</section>


 {% endblock %}