{% extends 'base.html.twig' %} {% block title %}Access Denied!{% endblock %} {%
block body %}
<style>
  .example-wrapper {
    background: #da1111;
    height: 24rem;
    padding-top: 6rem;
    font: 18px/1.5 sans-serif;
    text-align: center;
  }
  .example-wrapper code {
    padding: 2px 6px;
  }
</style>

<div class="example-wrapper">
  <h1>ACCESS DENIED! ⚠️</h1>

  Acceso denegado
</div>
{% endblock %}
