.article {
    &__button {
        width: 100px;
        height: 30px;
        border-radius: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        align-self: center;

        &:hover {
            transform: scale(1.05);
            background: $color-primario;
        }

    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 12px;
        margin-bottom: 12px;

        @media only screen and (min-width: 700px) {
            flex-direction: row;
        }

        &--img {
            margin-right: 10px;
            width: 300px;

        }
    }

    &--reverse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 12px;

        @media only screen and (min-width: 700px) {
            flex-direction: row-reverse;
        }

        &--img {
            margin-left: 10px;
            height: auto;
            width: 300px;
        }

    }

    &__crud {
        margin-top: 30px;
        margin-bottom: 30px;

        @media only screen and (min-width: 700px) {
            display: flex;
            flex-direction: column;
        }



    }

    &__login {
        max-width: 600px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%, rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */

        &__title {
            text-align: center;
            color: white;
            padding: 10px;
        }

        &__input {
            margin-bottom: 10px;
            margin-left: 50px;
            margin-right: 50px;

        }

       


    }

    &__projectImage {
        margin-top: 10px;
        width: 80%;
        height: 25%;
        align-self: center;
        max-width: 274.55px;
        max-height: 183.79px;
        display: block;
        margin: auto;

        @media only screen and(min-width:800px) {
            height: 300px;
            width: 300px;
        }
    }

    &__projectBackground {
        margin-top: 80px;
        background: -webkit-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);

        max-width: 339.2px;
        max-height: 536.37px;

        @media only screen and(min-width:800px) {
            height: 400px;
            width: 400px;
        }
    }

    &__projectButton {
        align-self: center;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;

        &__left {
            width: 100px;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

        &__right {
            width: 100px;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20%;
        }
    }

    &__projectTitle {
        margin-top: 20px;
        width: 95%;
        height: 50px;
        margin-bottom: 10px;
        align-self: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-secundario;
        background-color: $color-terciario;
        line-height: 3rem;
        max-width: 318.44px;
        max-height: 50px;
    }

    &__projectLabel {
        color: $color-secundario;
        margin-left: 10px;
        margin-top: 10px;

        @media only screen and(max-width:919px) {
            font-size: 14px;
        }

        &__right {
            position: relative;
            left: 210px;
            margin-top: -18px;
            color: $color-secundario;

            @media only screen and(max-width:919px) {
                font-size: 14px;
                left: 60%;
                margin-top: -16px;
            }
        }
    }

    &__projectDescription {
        margin-top: 6px;
        font-size: 12px;
        color: $color-secundario;
        margin-left: 10px;
    }

    &__view {
        display: none;
        height: 200px;
        margin-top: 10px;
    }

    &__imagen {
        width: 20px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and(min-width:800px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media only screen and(max-width:799px) {
        margin-left: 11%;
        margin-right: 10%;
    }

    &__containFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        @media only screen and(min-width:408px) {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            @media only screen and(min-width:780px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
            }
        }

        &__title2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            @media only screen and(min-width:800px) {
                display: flex;
                flex-direction: colum;
                align-items: center;
                margin-top: 10px;
            }
        }
    }

    &__filters {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media only screen and(min-width:408px) {
            display: flex;
            width: 350px;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

    }
}

@media only screen and(max-width:600px) {
    .iframe {

        width: 100%;
        max-width: 300px;
        height: 100%;
        border: none;

    }

}